body {
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3;
}

#navegacao {
	background: #F1F3F5;
	border-bottom: 5px solid #F1F3F5;
	height: 45px;
	width: 100%;
	top: 0;
	z-index: 999;
	
	padding: 5x;
}

#menu {
	float: right;
	padding: 10px 0;
}

a {
	color: #000;
	text-decoration: none;
	padding: 5px 10px;
}
a:link {
	color: #838383;
}


a:visited {
	color: #838383;
}


a:hover {
	color: #fff;
	background: #6a98e2;
	border-radius: 50px;
}

a:active {
	color: #535353;
}


/*Classes*/
.verde {
	color: #b9c941;
}

footer{
	background-color: #ccc;
	text-align: center;
	padding-top: 10px;
	height: 40%
}

.ui-datatable{
	font-size: 12px !important;
}

.vermelho{
	background-color: #FF0000 !important;
	color: #0000FF !important;
}

.verde{
	background-color: #00FF00 !important;
}

